@model DevFramework.Notrhwind.MvcWebUI.Models.ProductListViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    <ul>
        @foreach (var product in Model.Products)
        {
            <li>@product.ProductName</li>
        }
    </ul>
    
</div>
</body>
</html>
